Flask~=3.1.0
flask-cors~=5.0.1
requests~=2.32.3
pandas~=2.2.3
osmnx~=2.0.5
networkx~=3.4.2
folium~=0.20.0
shapely~=2.1.1
ortools~=9.14.6206
scikit-learn
mysql-connector-python~=9.3.0
pymongo~=4.11.3
python-dotenv~=1.1.0
python-dateutil~=2.9.0.post0
opencv-python~=4.11.0.86
numpy~=2.2.3
pillow_heif~=1.0.0
ultralytics~=8.3.167
pillow~=11.1.0